@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
  margin: 0;

}
header .line{
    background-color:#117050 ;
    height: 10px;
}
.container{
    max-width: 1140px; /*displai de conainer computador*/
    margin: auto;
 
}
.header--area{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header--right{
    display: flex;
    align-items: center;
}
.header--left img{
    width: 64px;
    height: 64px;
}
.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0; /* remover desfoque*/
    width: 100%;
    max-width: 250px;
    cursor: pointer;

}
.header--search form{
    display: flex;
    align-items: center;
}
.header--search button{
    border: 0;
    background:transparent;
    margin-left: -30px;
}
.header--search button img{
    width: 14px;
    height: 14px;
}

.header--menu{
    margin-left: 50px;
}
.header--menu img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/*banner*/
.banner{
    background:url('../images/bg.jpg');
    background-position:center ;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    
   
}

.banner h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 30px;

}
.banner--images{
    margin-top: 60px;
}

.banner--images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;

}